BODY {font-family: 'Dosis', sans-serif;}

/* panel administración */
DIV.pedido  {    
    border: 1px solid;
    border-radius: 13px;
    padding: 0px 20px;
    margin: 12px 10px;
    background: #CDF5A1;
    float: left;
}

.hide_cls {
    display: none;
}
.selected_cls {
    background: #5E7E2D;
    color: #fff;
    font-weight: bolder;
    font-size: 14px;
    font-family: cursive;
 }
DIV.pedido UL li {
    list-style: circle
}

DIV.pedido_manual {
    margin: 0 auto;
    border: 1px solid;
    border-radius: 8px;
    width: 50%;
    background:  url('../../../img/FACTURA.jpg') #DEE6F5;
}

DIV.logo_factura {
    float: left;
}