RewriteEngine on


# Rewrite /tienda_gloria/php/show_last_articles.php
RewriteRule ^/belenes/artesania/novedades.html$ /tienda_gloria/php/show_last_articles.php[L]

# Rewrite /tienda_gloria/carrito_php/ver_carrito.php
RewriteRule ^/belenes/artesania/carrito.html$ /tienda_gloria/carrito_php/ver_carrito.php [L]

# Rewrite /tienda_gloria/quienes.php

Rewriterule ^/belenes/quienes.html$ /tienda_gloria/quienes.php[L]
  
#Rewriterule /tienda_gloria/info.php 

Rewriterule  ^/belenes/info.html$ /tienda_gloria/info.php [L]

# Rewrite /tienda_gloria/php/ver_promo.php

Rewriterule ^/belenes/artesania/ver_promo.php$ /tienda_gloria/php/ver_promo.php[L]

# Rewrite /tienda_gloria/contacto.php

Rewriterule ^/belenes/contacto.php$ /tienda_gloria/contacto.php[L]

     

